.advantages {
  &__item {
    display: flex;
    align-items: center;
  }
  &__icon {
    min-width: 20px;
  }
  &__title {
    font-size: 17px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: $grey-6;
  }

  @include media-down-lg {
    padding-top: 68px;
    padding-bottom: 68px;

    &__item {
      flex-direction: column;

      &:not(:last-child) {
        margin-bottom: 60px;
      }
    }
    &__icon {
      margin-bottom: 17px;
    }
    &__title {
      text-align: center;
    }
  }
  @include media-up-lg {
    padding-top: 43px;
    padding-bottom: 43px;

    &__container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__item {
      flex-grow: 1;
      justify-content: center;
      padding: 12px 30px;

      &:not(:last-child) {
        border-right: 1px solid rgba($grey-7, 0.6);
      }
    }
    &__icon {
      margin-right: 15px;
    }
  }
}